/*general*/
.ui_container{
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding-top: 15px;
}

body {
    margin: 0;
}

/*header*/
.main_menu{
    background-color: white;
    top: 0;
}

.logo {
    display: inline-block;
    vertical-align: 10px;
}

.logo > p {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    vertical-align: 35px;
}

.navi_bar {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    height: 125px;
    line-height: 80px;
}

.navi_bar > li {
    display: inline-block;
    zoom: 1;
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
}

.navi_bar > li  > a { 
    font-weight: bold;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 27px;
}

/*body*/
.main_img_con {
    max-width: 70%;
    position: relative;
    display: inline-block;
}

.main_img {
    opacity: 1;
    width: 100%;
    display: inline-block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.main_overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.main_img_con:hover .main_img {
    opacity: 0.3;
  }
  
.main_img_con:hover .main_overlay {
    opacity: 1;
}

.main_contents {
    display: inline-block;
    padding-left: 0.5em;
    height: 732px;
}

.contents_item {
    width: 100%;
    padding: 0;
    margin: 0;
}

/*footer*/
footer {
    margin-bottom: 0;
}
.foot {
    color: white;
    background-color: #111;
    padding-bottom: 15px;
}